/* custom color variables - change and make your new website Template */
:root{
    --pri:#f88484;
    --sec: #f13737;
    --link:#f5f5f5;
    --form:#f35757;
    --footer:#f35757;
}

/* all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--pri);
}
header{
    background-color: var(--sec);
    min-height: 10vh;
    position: sticky;
    top: 0px;
}
main{
    border: 2px solid var(--pri);
    min-height: 70vh;
}
main form{
    border: 2px solid var(--form);
    min-height:60vh;
    min-width: 90vw;
    margin:5vh 5vw;
    background-color: var(--form);

    /* display: inline-block; */
    /* justify-content: center; */
}
footer{
    border: 2px solid var(--footer);
    min-height:20vh;
    background-color: var(--footer);
}
footer p{
    margin: 4vh 2vw;
}
li{
    padding: 2px 1vw;
    list-style: none;
}
a{
    color:var(--link);
    text-decoration: none;
}

/* class */
.nav, .icon{
    display: flex;
    justify-content: space-evenly;
}
.nav{
    padding: 2vh 0px;
}
.form-items{
    display: flex;
    /* border: 2px solid rgb(20, 18, 22); */
    /* width: 60vw; */
    justify-content: space-around;
    text-align: center;
    margin-top: 10vh;
}
.btn{
    display: flex;
    margin: 0vh 20vw;
    margin-top: 10vh;
    justify-content: space-between;
}
.btn>input:hover{
    cursor:pointer;
}