<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <ul class="nav">
            <li>Welcome </li>
            <ul class="icon">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact_us')}}">Contact-Us</a></li>
            </ul>
            <ul class="icon">
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('sign_up')}}">Sign up</a></li>
            </ul>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>This is copywright &copy; <a href="https://github.com/Karthikforger" >Karthikforger </a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius perspiciatis omnis aliquam labore consectetur, molestias laudantium. Cumque quod, qui laboriosam illum inventore voluptas fugit laudantium.</p>
    </footer>
</body>

</html>