<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <ul class="nav">
            <li>Welcome </li>
            <ul class="icon">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact_us')}}">Contact-Us</a></li>
            </ul>
            <ul class="icon">
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('sign_up')}}">Sign up</a></li>
            </ul>
        </ul>
    </header>
    <main>
        <form action="/" method="POST">
            <div class="form-items">
                <label for="name">NAME: </label>
                <input type="text" name="name" id="name" placeholder="Example">
            </div>
            <!-- <br> -->
            <div class="form-items">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="Example@gmail.com">
            </div>
            <div class="form-items">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Example@123">
            </div>
            <!-- <br> -->
            <div class="btn">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium maxime voluptatibus repellendus iste animi necessitatibus voluptas quia omnis eveniet saepe in et eos asperiores quod quidem illum, explicabo iure reprehenderit reiciendis dolorem odio ad. Consequatur repellat vitae corrupti obcaecati alias tempora suscipit id quo atque, impedit, perspiciatis, nostrum quisquam cumque sunt ipsum harum labore! </p>
    </main>
    <footer>
        <p>This is copywright &copy; <a href="https://github.com/Karthikforger" >Karthikforger </a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius perspiciatis omnis aliquam labore consectetur, molestias laudantium. Cumque quod, qui laboriosam illum inventore voluptas fugit laudantium.</p>
    </footer>
</body>

</html>